.SeedsControl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem 0;
  
}
.SeedsControl .flower div {
  position: static;
  margin: 0 .5rem;
  
}

.SeedsControl button {
  background-color: #6F6E6B;
  margin: 10px;
}