.CheckoutForm{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
    background-color: #702963;
    padding: 1rem .5rem;
    border-radius: 1rem;
    opacity: 0.7; 
    filter: alpha(Opacity=70);
}

.CheckoutForm > div{
    flex: 0 0 100%;
    padding: .2rem 1rem;
}
.CheckoutForm input {
    margin-left: 10px;
}

.CheckoutForm > div > input{
    border-radius: 1rem;
    font-size: 1rem;
    border: 1px solid lightgray;
    padding:  5px;
}
.CheckoutForm > div > input:focus{
    outline: none;
    border-color: darkgray;
}
.CheckoutForm label{
    color: white;
}