.Button {
  border: 0;
  margin: 1rem .5rem;
  padding: 5px 1rem;
  border-radius: 1rem;
  background-color:  #702963;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  
  margin-top: 15px;
}
.Button:not(:disabled):hover {
  background-color: #66023c;
}
.Button:focus {
  outline: none;
}
.Button:disabled {
  opacity: .5;
}

