.SeedsPreview {
    flex: 0 0 400px;
    height: 400px;
    margin-top: 5rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
    
    background-color: wheat;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sauce {
    width: 370px;
    height: 370px;
    
    background-color: chocolate;
  }