.SeedsControls {
  flex: 0 0 250px;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #b784a7;
  opacity: 0.7; 
  filter: alpha(Opacity=70);
  color: white;
  text-align: center;

  font-size: 20px;
  font-weight: bold;
}

.SeedsControls strong {
  font-size: 2rem;
}